#Eclipse setting folder
/config-server/.settings/
/discovery-server/.settings/
/gateway-service/.settings/
/hystrix-dashboard/.settings/
/turbine/.settings/
/weather-app/.settings/
/weather-service/.settings/

#Maven folder
/config-server/.mvn/
/discovery-server/.mvn/
/gateway-service/.mvn/
/hystrix-dashboard/.mvn/
/turbine/.mvn/
/weather-app/.mvn/
/weather-service/.mvn/


#Eclipse project file
/config-server/*.project
/discovery-server/*.project
/gateway-service/*.project
/hystrix-dashboard/*.project
/turbine/*.project
/weather-app/*.project
/weather-service/*.project

#Classpath file
/config-server/*.classpath
/discovery-server/*.classpath
/gateway-service/*.classpath
/hystrix-dashboard/*.classpath
/turbine/*.classpath
/weather-app/*.classpath
/weather-service/*.classpath

#Maven target folders
/config-server/target/
/discovery-server/target/
/gateway-service/target/
/hystrix-dashboard/target/
/turbine/target/
/weather-app/target/
/weather-service/target/
